.title{
    font-size: 1.8em;
    color: #3B665F;
    font-weight: 600;
    margin-left: 27vw;
    position: absolute;
    top: 5vh;
}

.result-box{
    width: 46vw;
    margin-left: 27vw;
    height: 32vh;
    position: absolute;
    top: 12vh;
}

.top-result-box{
    display: inline-flex;
    background-color: #3B665F;
    height: 11.5vh;
    border-radius: 22px 22px 0 0;
    width: 100%;
}

.top-result-text-box{
    width: 31.5vw;
    height: 100%;
    margin-left: 2.5vw;
}

.top-result-instruction-small{
    font-size: 1.05em;
    color: white;
    margin-top: 2vh;
    font-weight: 340;
}

.top-result-instruction{
    font-size: 1.5em;
    color: white;
    font-weight: 500;
    margin-top: 0.8vh;
}

.top-result-warning{
    width: 9.5vw;
    height: 7vh;
    margin-top: 2.25vh;
    background-color: #1F3430;
    color: white;
    border-radius: 14px;
    font-size: 1.2em;
    line-height: 7vh;
    text-align: center;
}

.bottom-result-box{
    width: 100%;
    height: calc(100% - 11.5vh);
    border-radius: 0 0 22px 22px;
    background-color: white;
}

.questionnaire-result-box{
    display: inline-flex;
    width: 40.5vw;
    margin-left: 2.5vw;
    margin-top: 2vh;
}

.score-box{
    display: inline-flex;
    width: 14vw;
    height: 7.5vh;
    border-radius: 14px;
    background-color: #EEF6F2;
}

.score-instruction-small{
    font-size: 1.05em;
    color: #3B665F;
    margin-left: 1.5vw;
    line-height: 7.5vh;
    width: 5vw;
}

.score-instruction{
    font-size: 1.8em;
    color: #3B665F;
    line-height: 7.5vh;
    width: 6vw;
    text-align: right;
    font-weight: 500;
}

.score-slider-box{
    width: 21vw;
    margin-left: 5vw;
}

:deep .el-slider__runway{
    height: 0.8vh;
    border-radius: 12px;
    background-color: #D9D9D9;
}

:deep .el-slider__runway.is-disabled .el-slider__bar{
    background-color: #429675;
}

:deep .el-slider__bar{
    height: 0.8vh;
    border-radius: 12px;
    background-color: #429675;
}

:deep .el-slider__runway.is-disabled .el-slider__button{
    border: solid 3px #429675;
}

:deep .el-slider__button-wrapper{
    height: 2.4vh;
}

:deep .el-slider__button.el-tooltip__trigger{
    height: 2.5vh;
    width: 2.5vh;
    margin-top: 0.9vh;
}

.slider-instruction-box{
    display: inline-flex;
    font-size: 1.05em;
    line-height: 1.05em;
    color: #1F3430;
    margin-top: 0.8vh;
}

.slider-instruction-name{
    width: 6vw;
    color: #1F3430;
}

.slider-instruction-result{
    width: 15vw;
    text-align: right;
    color: #1F3430;
}

.description-box{
    position: absolute;
    background-color: white;
    height: 43vh;
    width: 46vw;
    margin-left: 27vw;
    top: 45.5vh;
    border-radius: 26px;
    padding-top: 1vh;
}


.main-description{
    color: #1F3430;
    font-size: 1.1em;
    line-height: 1.8em;
    margin-left: 1.5vw;
    width: 46vw;
    margin-top: -0.5vh;
}

.second-description{
    margin-left: 3vw;
    width: 40.5vw;
    color: #1F3430;
    font-size: 1.0em;
    line-height: 1.8em;
    text-indent: 2em;
    font-weight: 340;
    margin-top: -1vh;
}

.description-tool-box{
    display: inline-flex;
    width: 42.5vw;
    margin-left: 3.5vw;
    height: 18.5vh;
    margin-top: 1.5vh;
}

.description-illustration{
    height: 100%;
}

.description-button-group{
    background-color: white;
    margin-left: 11.5vw;
    display: block;
    width: 14vw;
}

.description-button-pri{
    width: 100%;
    height: 4.8vh;
    border-radius: 14px;
    margin-top: 0.5vh;
    background-color: #3B665F;
    border: solid 1px #3B665F;
    color: white;
    font-size: 1.1em;
}

.description-button{
    width: 100%;
    height: 4.8vh;
    border-radius: 14px;
    margin-top: 1.5vh;
    background-color: #EEF6F2;
    border: solid 1px #EEF6F2;
    color: #3B665F;
    font-size: 1.1em;
}

.foot-container{
    width: 100vw;
    height: 9vh;
    position: absolute;
    top: 91vh;
    background-color: #3B665F;
    display: inline-block;
}

.footer-top{
    display: inline-flex;
    width: 44vw;
    margin-left: 28vw;
    height: 3.5vh;
    margin-top: 1.3vh;
}

.logo-wrapper{
    width: 23vw;
}

.lab-wrapper{
    color: white;
    line-height: 3.5vh;
    width: 56vw;
    text-align: right;
    font-size: 0.7em;
    font-weight: 340;
}

.footer-bottom{
    font-size: 0.7em;
    width: 100vw;
    text-align: center;
    line-height: 1.4vh;
    color: white;
    font-weight: 500;
}

img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}